<h1>Welcome to Modern deck: <span style="color: firebrick;">Burn</span>!</h1>

<p>
  A variety of decks make up the Modern meta of Magic: The Gathering, with some of the slower
  control builds like Esper or combo decks like Scapeshift having strong representation. But
  faster decks are available as well, such as the artifact-loving Affinity deck. The burn deck
  in particular is famous for its blistering speed.
</p>

<p>
  Burn decks are fairly straightforward, but they are not always as simple "play burn spells and
  win." It is true that burn spells are the main card type in the deck, hence its name, but they
  can be a bit more nuanced than that. It all starts with the deck's construction and careful
  selection of its sideboard cards.
</p>

<h2>The Game Plan</h2>

<img src="assets\burn-deck-cards.jpg" alt="Cards" style="width:50%;">

<p>
  The name of the game is to use spells which deal three (also known as "bolt to the face") or
  more damage to the opponent to deplete their life total from twenty to zero as fast as
  possible. This plan is supported by a bevy of one drops such as Goblin Guide and Monastery
  Swiftspear to push the damage in the early game.
</p>

<h2>Damage Simulator</h2>

<app-life></app-life>

<h2>Random Angular Playground</h2>

<!-- style="background-color:whitesmoke; width:570px; font-size: 150%"> -->
<table>
  <tr>
    <th>Button with disabled and string change function</th>
    <th>Live Monitoring (One-way Binding)</th>
    <th>Live Monitoring (Two-way Binding)</th>
  </tr>
  <tr>
    <td>
      <button [disabled]="!allowNewServer" (click)="createServer()">
        <b>Start Server</b></button>
      <button (click)="stopServer()">
        <b>Stop Server</b></button>
    </td>
    <td>
      <input type="text" size="20"
      placeholder="Type what you want to see"
      (input)="liveText($event)">
    </td>
    <td>
      <input type="text" size="20"
      placeholder="Type what you want to see"
      [(ngModel)]="msg">
    </td>
  </tr>
  <tr>
    <td>
      <!-- show status of "Add Server" button -->
      Start server status: {{allowNewServer}}
    </td>
    <td colspan="2">
      <!-- show live text -->
      {{msg}}
    </td>
  </tr>
    <td [style.font-weight]="fontSize">
      <!-- show effect of "Add Server" button -->
      {{serverStatus}}
    </td>
  <tr>
  </tr>
</table>
